.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
    display: block;
}

.modal-content {
    background-color: #f8f9fa; /* Light gray */
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #ff5a5f; /* Red */
    width: 40%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 10px;
    color: #343a40; /* Dark gray */
}

.modal-content p {
    margin-bottom: 20px;
    color: #6c757d; /* Medium gray */
}

.button-containerModal {
    display: flex;
    justify-content: space-around;
}

.button-containerModal button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Blue */
    color: white;
    transition: background-color 0.3s ease;
}

.button-containerModal button:hover {
    background-color: #0056b3; /* Dark blue */
}
